<ion-view view-title="Aide">
    <ion-content class="padding">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>consectetur adipiscing elit. Ut accumsan laoreet nulla non interdum. Mauris efficitur ante at sapien consectetur, quis fringilla lacus tincidunt. Pellentesque vitae hendrerit risus, in tincidunt justo. Quisque pellentesque dictum ligula, eget sagittis ligula pretium euismod. Quisque consectetur, est eu elementum luctus, nunc diam sagittis nunc, sed vehicula lorem orci luctus urna. Nam fermentum a turpis non mollis. Nam interdum, nisi eget feugiat dictum, metus dui mollis leo, ut vehicula justo ligula vitae diam. Nunc cursus nisi ipsum, quis placerat tortor tristique at.</p>

        <h2>Curabitur at malesuada quam.</h2>
        <p> Donec mi ligula, feugiat eu vestibulum in, laoreet eu lacus. Nam efficitur iaculis ligula. Morbi sollicitudin laoreet erat, id fermentum nisi consequat nec. Morbi rutrum nulla quis erat vehicula tempor. Phasellus sed ipsum vitae tortor pulvinar placerat. Aliquam lacinia sem id tristique rhoncus. Nulla odio nibh, mattis sed efficitur nec, auctor interdum est. Sed placerat velit lobortis turpis faucibus euismod. Sed bibendum velit ac orci faucibus, in ullamcorper nibh semper. Maecenas consectetur efficitur risus luctus dictum. Mauris ut nisi et turpis porta maximus eu tincidunt urna. Aliquam quis molestie sem. Integer porta neque nec rhoncus accumsan. Nullam dapibus nisi lobortis, tincidunt diam at, dictum nisi.</p>
    </ion-content>
</ion-view>
